#### Week1 lesson 3

### Install Anaconda

### List
A list is an ordered collection of items that can be changed (mutable). Lists can contain items of different data types.

In [7]:
my_list = [1, 2, 3, "apple", 4, 5]
print(my_list)

In [3]:
#Replace an item
my_list[2] = "man"
print(list)

In [13]:
#Add an item - you can use Append or Insert. Append will add the item at the end while insert can add at any specific place.
my_list.append("woman")
print(my_list)

In [17]:
my_list.insert(2, "friend")
print(my_list)

In [21]:
#Remove an item - remove is used to remove a particular item by typing the item
my_list.remove("friend")
print(my_list)

In [25]:
#Delete an item - delete is used to delete a particular item by typing the index of that item
del my_list[2]
print(my_list)

In [29]:
#Reverse - it is used to flip or rearrange the items in the box
my_list.reverse()
print(my_list)

### String
A string is a sequence of characters enclosed in either single (' ') or double (" ") quotes. It’s immutable, meaning you can't change the original string once created.

In [31]:
string = "Hello, World!"
print(string)

### Tuple
A tuple is an ordered collection of items, similar to a list, but unlike lists, tuples are immutable (cannot be changed after creation).

In [33]:
tuple = (1, 2, 3, "apple")
print(tuple)

### Numbers
Numbers in Python can be either integers (whole numbers) or floating-point numbers (decimals). These are immutable data types.

int = 10         # Integer
float = 3.14     # Floating-point number

### Dictionary
A dictionary is an unordered collection of key-value pairs. Keys are unique and can be any immutable data type (like strings or numbers), while values can be any data type.

In [45]:
dictionary = {"name": "John", "age": 25, "city": "New York"}
print(dictionary)

In [37]:
# Add - is used to add a new key-value pair
dictionary["school"] = "CodeAnt" 
print(dictionary)

In [39]:
#Change an existing item
dictionary["name"] = "Ebuka" 
print(dictionary)

In [41]:
# Remove an item
del dictionary["age"]
print(dictionary)

#### Step-by-Step with Examples

In [50]:
#Numbers (Integers & Floats)

#Example 1:
#Managing daily expenses.

coffee_price = 200
daily_expenses = coffee_price * 7
print("Weekly Coffee Expense:", daily_expenses)

In [54]:
#Example 2:
#Calculating exam scores.

math_score = 75
science_score = 85
total_score = math_score + science_score
print("Total Score:", total_score)

In [58]:
#Strings (Text Data)

#Example 1:
#Greeting users.

name = "Ahmed"
print("Hello", name, "Welcome to Python!")

In [62]:
#Example 2:
#Combining strings.

first_name = "Ahmed"
last_name = "Dauda"

print("Full Name:", first_name + " " + last_name)

In [68]:
#Notice the difference here without ("")
first_name = "Ahmed"
last_name = "Dauda"

print("Full Name:", first_name + last_name)

In [76]:
#Lists (Collections)

#Example 1:
#Shopping list.

shopping_list = ["Milk", "Eggs", "Bread"]
shopping_list.append("Butter")
print("Updated Shopping List:", shopping_list)

In [80]:
#Example 2:
#Exam scores.

scores = [85, 90, 78, 88]
print("Top Score:", max(scores))
print("Average Score:", sum(scores) / len(scores))
print("Range:", max(scores) - min(scores))

In [84]:
#Example 3: Task tracker.

tasks = ["Write code", "Debug program", "Submit project"]
tasks.pop(0) # Pop is used remove something from a list
print("Remaining Tasks:", tasks)

#### Loops
A loop is a way to repeat some actions again and again until a certain condition is met without repeatation of code.
We have 
For Loops and While Loops.

A for loop is used when you want to repeat something a certain number of times. 
A while loop keeps running as long as a certain condition is true.

In [88]:
## For Loops

#Example 1
#Printing all items in a list.

tasks = ["Task 1", "Task 2", "Task 3"]

for task in tasks:
    print("Current Task:", task)

Current Task: Task 1
Current Task: Task 2
Current Task: Task 3

In [135]:
#Example 2
#Summing expenses.
expenses = [100, 250, 300]
total = 0
for expense in expenses:
    total += expense
    print("Total Expense:", total)

Total Expense: 100
Total Expense: 350
Total Expense: 650

In [92]:
#Example 3
#Multiplication table

for i in range(1,6):
    print(f"5 x {i} =", 5 * i)

5 x 1 = 5
5 x 2 = 10
5 x 3 = 15
5 x 4 = 20
5 x 5 = 25

In [104]:
## While Loop

#Example 1
#Countdown timer

count = 5
while count > 0:
    print("Countdown:", count)
    count -= 1
    print("Time’s up!")

Countdown: 5
Time’s up!
Countdown: 4
Time’s up!
Countdown: 3
Time’s up!
Countdown: 2
Time’s up!
Countdown: 1
Time’s up!

In [112]:
#Example 2
#Printing even numbers

num = 2
while num <= 10:
    print(num)
    num += 2

2
4
6
8
10

#### Functions in Python
A function is a block of code that only runs when you call it.
Functions help you reuse code and make programs organized and easy to read.

##### 1. Built-in Functions
These are functions that Python already provides. You don’t have to create them, you just call and use them.

In [114]:
#Example 1:
#Find Length of a List

list1 = [1, 2, 3, 4, 5]
print(len(list1))

5

In [116]:
#Example 2:
#Convert String to Integer

num_str = "42"
num = int(num_str)
print(num + 10)

52

In [118]:
#Example 3:
#Get Maximum Value in a List

nums = [10, 20, 30, 40]
print(max(nums))

40

##### 2. User-defined Functions
These are functions you created yourself to do specific tasks.

In [27]:
#Example 1:
#Find the Area of a Rectangle.

def rectangle_area(length, width):
    area = length * width
    return area
print("Area:", rectangle_area(10, 5))

Area: 50

In [122]:
#Example 2:
#Check if a Number is Positive.

def is_positive(num):
    return num > 0
print("Is Positive:", is_positive(10))

Is Positive: True

In [31]:
#Example 3:
#Convert Hours to Seconds.

def hours_to_seconds(hours):
    conversion = hours * 3600
    return conversion
print("Seconds:",hours_to_seconds(2))

Seconds: 7200

##### 3. Anonymous Functions (Lambda Functions)
These are small, short functions that have no name. You use the keyword lambda to create them.

In [33]:
#Example 1:
#Square a Number

square = lambda x: x ** 2
print(square(4))

16

In [35]:
#Example 2:
#Add Two Numbers.

add = lambda x, y: x + y
print(add(5, 7))

12

In [37]:
#Example 3:
#Find the Larger Number.

larger = lambda x, y: x if x > y else y
print(larger(10, 20))

20

##### 4. Recursive Functions
These are functions that call themselves inside their own body.
Useful when solving problems like factorials, trees, etc.

In [129]:
#Example 1:
#Find Factorial.

def factorial(n):
    if n == 0:
            return 1
    return n * factorial(n - 1)  
print(factorial(5))

120

In [149]:
#Example 2:
#Count Down to Zero.

def countdown(n): 
    if n == 0:
        print("Blast off!")
        return
    print(n)
    countdown(n - 1)

countdown(5)

5
4
3
2
1
Blast off!

##### 5. Higher Order Functions
These are functions that take another function as a parameter OR return a function.

In [151]:
#Example 1:
#Use map to Double Numbers.

nums = [1, 2, 3, 4]
doubled = list(map(lambda x: x * 2, nums))
print(doubled)

[2, 4, 6, 8]

In [58]:
#Example 2:
#Use reduce to calculate product of numbers 

from functools import reduce
nums = [1, 2, 3, 4]
product = reduce(lambda x, y: x * y, nums)
print(product)

24

##### 6. Generator Functions
These are special functions that generate values one at a time using yield, not return.

In [157]:
#Example 1:
#Countdown Generator.

def countdown(n):
    while n > 0:
        yield n
        n -= 1
for num in countdown(3):
    print(num)

3
2
1

In [161]:
#Example 2:
#Infinite Sequence Generator.

def infinite_sequence():
    n = 0
    while True:
        yield n
        n += 1
gen = infinite_sequence()
print(next(gen), next(gen), next(gen))

0 1 2

##### 7. General Return Statement Functions
These are normal functions that use return to send a result back.

In [163]:
#Example 1:
#Calculate Percentage

def calculate_percentage(score, total):
    return (score / total) * 100

print("Percentage:", calculate_percentage(85, 100))

Percentage: 85.0

In [165]:
#Example 2:
#Convert Temperature

def celsius_to_fahrenheit(celsius):
    return (celsius * 9/5) + 32
    
print("Temperature in Fahrenheit:", celsius_to_fahrenheit(30))

Temperature in Fahrenheit: 86.0

In [167]:
#Example 3:
#Greet Users

def greet_user(name):
    return f"Hello {name}, Welcome to Python!"
print(greet_user("Ahmed"))

Hello Ahmed, Welcome to Python!

##### Functions with Loops

In [116]:
#Example 1:
#Find Even Numbers in a List

def find_evens(numbers):
    return [num for num in numbers if num % 2 == 0]

nums = [1, 2, 3, 4, 5]
print("Even Numbers:", find_evens(nums))

Even Numbers: [2, 4]

In [118]:
#Example 2:
#Multiply All Elements in a List by 2

def multiply_by_two(numbers):
    return [num * 2 for num in numbers]

nums = [1, 2, 3, 4]
print("Doubled Numbers:", multiply_by_two(nums))

Doubled Numbers: [2, 4, 6, 8]